* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*p {
  font-size: 18px !important;
  font-family: Arial, Helvetica, sans-serif !important;
}

h6 {
  font-size: 20px !important;
  font-family: Arial, Helvetica, sans-serif !important;
  font-weight: 700 !important;
}
*/


:root {
  --primary-color: #020202;
  --secondary-color: #292627;
  --tertiary-color: #f5f5f5;
}


body {
  padding: 10px;
  background-color: var(--tertiary-color);
  background: linear-gradient(rgba(255, 255, 255, 0.8),rgba(255, 255, 255, 0.8)), url(Image/BG\ \(3\).jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.img-container img {
  position: absolute;
  top: 2%;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  margin-top: -1px;
  object-fit: cover;
  border-radius: 100%;
  border: 5px solid var(--secondary-color);
  object-position: center;
  margin-top: 0px;
  animation: shake 20s cubic-bezier(.36, .07, .19, .97) both infinite;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  display: block;
}


.main {
  position: absolute;
  top: 27%;
  left: 40%;
  text-align: center;
}

.containers {
  position: relative;
  top: 0;
  left: 0;
  bottom: 10%;
  background: linear-gradient(rgba(255, 255, 255, 0.95),rgba(255, 255, 255, 0.95)), url(Image/BG\ \(4\).jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  right: 0;
  margin: auto;
  border: 1px solid var(--blend-color);
  width: 1024px;
  height: 150vh;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(7, 0, 0, 0.5);
}


h3 {
  color: white !important;
  font-size: 16px !important;
  font-weight: 600 !important;
  display: flex !important;
  flex-direction: column !important;
  margin-top: 3px !important;
}


h3:hover {
  display: block;
}

.row {
  margin-bottom: 50px !important;
}


.social-container {
  position: relative;
  top: 43%;
  left: 43%;
  bottom: 0;
  right: 0;
  margin: auto;
}

.buttons {
  position: relative;
  top: 45%;
  padding: 50px;
}


.contact {
  margin-left: 18rem;
}

footer {
  position: absolute;
  top: 85%;
  left: 36.5%;
  text-align: center;
}

.social {
  margin-bottom: 40px;
}

footer p {
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}





.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


/* Modal Content/Box */
.modal-content {
  margin: 0% auto; /* 15% from the top and centered */
  border-radius: 10px;
  border: 1px solid #888;
  overflow: auto;
  height: 100vh;
  padding: 10px 20px;
}


/* The Close Button */
.close {
  position: absolute;
  top: 2%;
  left: 95%;
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  width: 50px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/* The Close Button */
.closes {
  position: absolute;
  top: 2%;
  left: 95%;
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  width: 50px;
}

.closes:hover,
.closes:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/* The Close Button */
.closed {
  position: absolute;
  top: 2%;
  left: 95%;
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  width: 50px;
}

.closed:hover,
.closed:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/* The Close Button */
.closing {
  position: absolute;
  top: 2%;
  left: 95%;
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  width: 50px;
}

.closing:hover,
.closing:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.head {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 100%;
  float: right;
}



.about-content p {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  padding: 0px 100px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

.about-content img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  object-position: center;
  top: 150%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.about-socials {
  top: 200%;
  left: 45%;
  position: absolute;
  margin-top: 50px;
  margin-bottom: 100px;
}




.contact-content {
  padding: 0px 100px;
  margin-top: 30px;
}

.form-action {
  margin-top: 100px;
  margin-bottom: 100px;
}




.project-content {
  padding: 0px 100px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.cards {
  border-radius: 20px;
  max-width: fit-content;
  padding: 5px;
  background: white;
  box-shadow: -6px 5px 0px rgba(228, 77, 38);
}

.cards-1 {
  border-radius: 20px;
  max-width: fit-content;
  padding: 5px;
  background: white;
  box-shadow: -6px 5px 0px rgb(41, 101, 241);
}

.cards-2 {
  border-radius: 20px;
  max-width: fit-content;
  background: white;
  box-shadow: -6px 5px 0px black;
}

.cards-3 {
  border-radius: 20px;
  max-width: fit-content;
  padding: 5px;
  background: white;
  box-shadow: -6px 5px 0px rgb(126,19,248);
}

.cards-4 {
  border-radius: 20px;
  max-width: fit-content;
  padding: 5px;
  background: white;
  box-shadow: -6px 5px 0px rgb(25,181,185)
}

.cards-5 {
  border-radius: 20px;
  max-width: fit-content;
  padding: 5px;
  background: white;
  box-shadow: -6px 5px 0px rgb(0,216,255)
}

.cards-6 {
  border-radius: 20px;
  max-width: fit-content;
  padding: 5px;
  background: white;
  box-shadow: -6px 5px 0px rgb(83,158,67);
}

.cards-7 {
  border-radius: 20px;
  max-width: fit-content;
  background: white;
  box-shadow: -6px 5px 0px #30a5fa;
}


















@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }

}





@media screen and (min-width: 767px) and (max-width: 1023px) {

  .containers {
    width: 700px;
    margin-top: 10px;
    height: 100vh;
  }

  .main {
    top: 22%;
    margin-left: -30px;
  }

  .social-container {
    top: 35%;
    left: 39%;
  }

  .buttons {
    position: relative;
    top: 38%;
    padding: 50px;
  }

  footer {
    top: 75%;
    left: 33%;
  }

  .close, .closed, .closing, .closes {
    top: 2%;
    left: 90%;
  }

  .about-content p {
    padding: 0px 40px;
  }

  .about-content img {
    top: 85%;
  }

  .about-socials {
    top: 115%;
  }

  .contact-content {
    padding: 0px 50px;
  }

  
  
}

@media screen and (max-width: 767px) {

  .containers {
    width: 370px;
    padding: 10px;
    height: 115vh;
  }

  .main {
    top: 25%;
    left: 26%;
  }

  .row {
    margin-bottom: 0px !important;
  }

  .social-container {
    top: 40%;
    left: 28%;
  }

  .nav-btn {
    padding: 15px 7rem;
    margin-left: -1px;
  }

  .buttons {
    position: relative;
    top: 40%;
    left: 0%;
  }

  .nav-btns {
    padding: 15px 7rem;
    margin-bottom: 50px;
  }

  .socials-1 {
    margin-bottom: 30px;
  }

  footer {
    top: 89%;
    left: 20%;
  }

  .close, .closed, .closing, .closes {
    top: 1%;
    left: 90%;
  }

  .about-content p {
    padding: 0px 10px;
  }

  .about-content img {
    top: 115%;
    height: 300px;
  }

  .about-socials  {
    top: 135%;
    left: 38%;
  }



  
}
